@charset "utf-8";

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(23, 112, 112);
    display:flex;
    justify-content: center;
    align-items: center;
}
/*Container/div Parent/pai */
.container{
    margin-top:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:30px;
    background-color: rgb(62, 158, 158);
    border-radius:50px;
    width:500px;
    height:500px;
    
}

.container h1{
    text-align: center;
}

.container .msg{
    text-align: center;
   
}
/*Inputs*/
input{
    border-radius:30px;
    width:200px;
    height:30px;
    text-align: center;
}


/*Em Breve Responsivo*/
